/*media query*/
@media only screen and (max-width: 767px) {
    .bsSider {
        position: absolute !important;
        z-index: 1000 !important;
    }

    .bsToggleOpen, .bsToggleClose {
        display: inline !important;
    }
}

@media only screen and (min-width: 768px) {
    .bsToggleOpen, .bsToggleClose {
        display: none !important;
    }
}

/*row*/
.bsRow {
    background-color: rgb(240, 242, 245);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.bsRow>div {
    box-shadow: 0px 2px 8px -4px rgb(0 0 0 / 90%);
    min-width: 320px;
    width: 20vw;
    max-width: 400px;
}

/*button*/
.bsBtn {
    color: white !important;
    background-color: #3018b1 !important;
    border-color: #3018b1 !important;
}

.bsBtn:hover {
    background-color: #4627fa !important;
}

/*icon button*/
.bsBtnIcon {
    background-color: #f1f2f6;
    width: 34px;
    height: 34px;
}

.bsBtnIcon:hover, .bsBtnIcon:focus {
    border-color: #3018b1 !important;
    color: #3018b1 !important;
}

/*card*/
.bsCard {
    text-align: center !important;
    margin-inline: auto;
    margin-bottom: -10px !important;
    margin-top: 5px !important;
}

.bsCard div {
    padding: 0 !important;
}

.bsCard img {
    max-width: 126px !important;
}

/*link*/
.bsLink {
    color: #3018b1 !important;
    font-size: 0.8 rem;
}

/*input*/
.ant-input-affix-wrapper:hover {
    border-color: #3018b1 !important;
}

.ant-input-affix-wrapper-focused {
    border-color: #3018b1 !important;
    box-shadow: 0 0 0 2px rgba(48, 24, 177, 0.2) !important;
}

/*loading*/
.bsLoading {
    width: 100%;
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.bsLoading div {
    margin-top: 10px !important;
    font-size: 80%;
    font-weight: 500;
    color: #3018b1;
}

.bsLoading i {
    background-color: #3018b1;
}

.bsDivider {
    font-size: 0.9rem !important;
    margin-top: -0.5rem !important;
    color: rgba(0, 0, 0, .4) !important;
}

/*header*/
.bsHeader {
    background-color: #ffffff;
    box-shadow: 0 5px 5px -7px rgba(0, 0, 0, 0.9);
    height: 50px;
    min-height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row-reverse !important;
    padding-left: 20px;
    align-items: center;
}

.bsToggleClose {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 205px;
    z-index: 10;
    transition: all 0.2s !important;
}

.bsToggleOpen {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 10;
    transition: all 0.2s !important;
}


/*space Button*/
.spaceBtn {
    width: 100%;
}

.spaceBtn>div {
    width: 50%;
}

/*sider*/
.bsSider {
    background-color: #230156 !important;
    height: 100vh !important;
}

.ant-layout-sider-collapsed {
    min-width: 0px !important;
    flex: 0 0 0px !important;
    width: 0px !important;
    overflow: hidden !important;
}

.bsSiderHeader {
    overflow: hidden;
    line-height: 3.12rem;
    height: 3.12rem;
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
}

.sidebarMenu {
    background-color: inherit !important;
}

.sidebarMenu li {
    color: #c9c9c9 !important;
    text-overflow: ellipsis !important;
    padding-right: 15px !important;
}

.sidebarMenu .ant-menu-item-icon {
    font-size: 24px !important;
}

.sidebarMenu .ant-menu-title-content {
    font-size: 14px !important;
}

.bsContent {
    margin: 10px;
    overflow: hidden auto;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 2px solid #fcbf62;
}

.bsFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #230156;
    color: #dddddd;
    padding: 5px 20px;
}

.bsFormHeader button, .bsFormHeader button:hover {
    border: none;
    background: transparent !important;
    padding-inline: 0;
}

.bsFormHeader button>span {
    color: #db2d2d;
    font-size: 22px;
}

.bsFormTitle {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
}

.bsFormTitle>span {
    color: #56c2db;
    font-size: 20px;
    padding-left: 5px;
}

/* .bsFormBody{
   
} */

.bsLayout>.ant-layout {
    background-color: #e2e3e5 !important;
}

.formBodyLayout {
    background: transparent;
    width: 100%;
}

.formBodyLayout>header {
    background-color: #f5f6fa !important;
    z-index: 1 !important;
    height: 50px !important;
    border-bottom: 1px solid #cfcfcf;
}

.formBodyLayout>header>ul>li {
    display: flex !important;
    align-items: center !important;
    height: 50px !important;
}

.formBodyLayout>main {
    padding: 10px 20px;
}

.bsBtnSave {
    font-size: 1.1rem !important;
    margin-left: 5px !important;
}

/*Uploader*/
.img-crop-modal .ant-modal-header, .img-crop-modal .ant-modal-footer {
    background-color: #230156 !important;
    color: #c9c9c9 !important;
}

.ant-upload, .ant-upload button {
    width: 100% !important;
}

.bsModal {
    width: 90% !important;
    top: 1.5rem;
}

.bsModal .ant-modal-body {
    padding: 0 !important;
    min-height: 200px !important;
    max-height: calc(100vh - 8rem) !important;
    overflow: hidden !important;
}

.bsModal .ant-modal-header, .bsModal .ant-modal-footer {
    background-color: #230156 !important;
    color: #c9c9c9 !important;
}

.bs-file-btn-box{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.bs-file-btn-box button:nth-child(2) {
    display: flex !important;
    justify-content: flex-end !important;
    color: #fd4444 !important;
    width: 15% !important;
}

.bs-file-btn-box button:nth-child(1) {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    width: 85% !important;
}

.bs-file-btn-box button:nth-child(2):hover {
    color: #c71b1b !important;
}

.bsFormBtn{
    display: flex;
    align-items: flex-end !important;
}
